@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700;800;900&family=Public+Sans:wght@200;300&family=Raleway:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  font-family: "Public Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

a{
    text-decoration: none;
    font-weight: 300;
}

li{
    list-style: none;
}

p,a{
    font-size: 0.9em;
    font-weight: 100;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

i{
    font-size: 20px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

:root{
    --first-color: hsl(268, 58%, 48%);
    --first-color-alt: hsl(268, 88%, 90%);
    --white-color: #fff;
    --black-color: #333;

    --container-padding: 0 80px;
    --container-padding-alt: 50px 80px;

    --icon-font-size-alt: 40px;
}


@media screen and (max-width: 1100px) {
    :root{
        --container-padding: 0 40px;
        --container-padding-alt: 30px 40px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 21.5px;
    }
}



@media screen and (max-width: 900px) {
    :root{
        --container-padding: 0 25px;
        --container-padding-alt: 20px 25px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    :root{
        --container-padding: 0 25px;
        --container-padding-alt: 20px 25px;
    }
}





/* ///////////////////////////////// HEADER ///////////////////////////// */

.header{
    padding: var(--container-padding);
    background: transparent;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 100;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.header__content{
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
}

.logo__img{
    width: 100%;
}

.header__logo{
    margin-right: auto;
}

.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav__links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav__link{
    margin: 0 15px;
}

.header__nav__link a{
    color: #fff;
}

.header__nav__link a:hover{
    border-bottom: 1px solid var(--white-color);
}

.header__nav i{
    color: var(--white-color);
    margin: 0 20px;
}

.mobile__header__nav{
    display: none;
}

.header__menu__icon{
    display: none;
}


@media screen and (max-width: 700px){

    .header__nav__links{
        display: none;
    }

    .mobile__header__nav{
        display: none;
        background: var(--first-color);
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 60px;
        padding: 20px;
        width: 300px;
        z-index: 100;
    }

    .mobile__header__nav__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile__header__nav__link{
        margin: 15px 0;
    }

    .mobile__header__nav__link a{
        color: var(--white-color);
    }

    .mobile__header__nav__link a:hover{
        border-bottom: 1px solid var(--white-color);
    }

    .header__menu__icon{
        display: flex;
    }

    .header__menu__icon i{
        color: #fff;
    }
}

@media screen and (max-width: 300px){

    .header{
        height: 40px;
    }

    .logo{
        width: 60px;
    }

    .mobile__header__nav{
        width: 100%;
        top: 40px;
    }
}



/* {{{{{{{{{{{{{{{{{{{{{{{{{ HEADING }}}}}}}}}}}}}}}}}}}}}}}}} */

.service__heading{
    height: 100vh;
    background: url("img/about-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service__heading:before{
    content: "";
    width: 100%;
    height: 100%;
    background: var(--first-color);
    position: absolute;
    opacity: .7;
}

.service__heading__container{
    width: 100%;
    height: 100%;
    padding: var(--container-padding-alt);
}

.service__heading__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    height: 100%;
    width: 100%;
}

.service__heading__content p,
.service__heading__content h3,
.service__heading__content button {
    z-index: 50;
}

.service__heading__content p{
    margin: 20px 0 40px 0;
}

.service__heading__btn{
    padding: 10px 30px;
    color: var(--black-color);
    background: var(--white-color);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.service__heading__btn:hover{
    border: 2px solid var(--white-color);
    background: transparent;
    color: var(--white-color);
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@ GRID ::::::::::::::::::@@@ */

.grid{
    background: var(--first-color);
}

.grid__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--white-color);
}

.grid__card{
    width: 100%;
    padding: 10px;
    display: flex;
}

.grid__card:first-child,
.grid__card:nth-child(3),
.grid__card:nth-child(5){
    background: var(--black-color);
}

.grid__card__content{
    margin-left: 10px;
}

.grid__card__content p{
    margin: 20px 0;
}

.grid__card__btn{
    border: none;
    outline: none;
    background: transparent;
    color: var(--white-color);
    margin: 10px 0;
    cursor: pointer;
}

.grid__card__btn:hover{
    border: 1px solid var(--white-color);
    padding: 10px 25px;
}


@media screen and (max-width: 650px){
    .grid__content{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .grid__card{
        margin: 10px 0;
    }
}



/* %%%%%%%%%%%%%%%%%%%%% CONCLUSION%%%%%%%%%%%%%%%%%% */


.service__con{
    background: var(--first-color-alt);
}

.service__con__container{
    padding: var(--container-padding-alt);
}

.service__con__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--second-container-padding);
    color: var(--black-color);
    height: 100%;
    width: 100%;
}

.service__con__content p{
    margin: 20px 0 40px 0;
}

.service__con__btn{
    color: var(--black-color);
    padding: 10px 30px;
    border-radius: 50px;
    background: var(--black-color);
    color: var(--white-color);
}

.service__con__btn:hover{
    background: transparent;
    color: var(--black-color);
    border: 1px solid var(--black-color);
}


/* """"""""""""""""""""" SERVICE INFO """"""""""""""""""""" */

.service__info{
    background: var(--black-color);
    color: var(--white-color);
}

.service__info__container{
    padding: var(--container-padding-alt);
}

.service__info__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__texts{
    width: 40%;
}

.service__texts p{
    margin: 20px 0;
}

.service__info__img{
    width: 40%;
    height: 300px;
}

.service__info__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@media screen and (max-width: 780px){
    .service__info__content{
        flex-direction: column;
    }
    .service__texts{
        width: 100%;
    }
    .service__info__img{
        width: 100%;
        height: 300px;
    }
}





/* ////////////////////// FOOTER /////////////////// */


.footer__container{
    background: var(--first-color);
    width: 100%;
    height: 100%;
    color: var(--white-color);
}

.footer__top__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--black-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding: var(--container-padding-alt);
}

.footer__logo{
    width: 90px;
}

.footer__top__nav__motto{
    width: 400px;
}

.footer__top__nav p, .footer__top__nav a{
    line-height: 1;
    margin: 10px 0;
    color: var(--white-color);
}

.footer__top__nav h4{
    border-left: 2px solid var(--white-color);
    padding: 0 5px;
    color: var(--white-color);
}

.footer__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__bottom__nav{
    border-top: 1px solid var(--white-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--first-color);
    align-items: flex-start;
    padding: var(--container-padding);
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer__bottom__nav a{
    color: var(--white-color);
}

.footer__bottom__nav a:hover{
    border-bottom: 1px solid var(--white-color);
}

.footer__bottom__nav__socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__bottom__nav__socials a{
    margin: 0 15px;
}


@media screen and (max-width: 750px){


    .footer__top__nav{
        flex-direction: column;
    }

    .footer__top__nav__motto{
        width: 90%;
    }

    .footer__links{
        margin: 15px 0;
    }

    .footer__bottom__nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__bottom__nav a{
        margin: 10px 0;
    }

    .footer__bottom__nav__socials i{
        margin: 0 10px;
    }
}